MyClient/Service References/WcfService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_GetValueSynchronously_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValueSynchronously" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetValueSynchronously_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValueSynchronouslyResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetValueAsynchronously_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValueAsynchronously" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetValueAsynchronously_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValueAsynchronouslyResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetValueAsynchronouslyCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetValueAsynchronouslyCallback" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetValueAsynchronouslyCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetValueAsynchronouslyCallbackResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="GetValueSynchronously">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetValueSynchronously" message="tns:IWcfService_GetValueSynchronously_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetValueSynchronouslyResponse" message="tns:IWcfService_GetValueSynchronously_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValueAsynchronously">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetValueAsynchronously" message="tns:IWcfService_GetValueAsynchronously_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetValueAsynchronouslyResponse" message="tns:IWcfService_GetValueAsynchronously_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValueAsynchronouslyCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetValueAsynchronouslyCallback" message="tns:IWcfService_GetValueAsynchronouslyCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetValueAsynchronouslyCallbackResponse" message="tns:IWcfService_GetValueAsynchronouslyCallback_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWcfService" type="tns:IWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWcfService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetValueSynchronously">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/GetValueSynchronously" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValueAsynchronously">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/GetValueAsynchronously" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValueAsynchronouslyCallback">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/GetValueAsynchronouslyCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="NetTcpBinding_IWcfService" binding="tns:NetTcpBinding_IWcfService">
      <soap12:address location="net.tcp://localhost:12906/WcfCallbacks/WcfService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:12906/WcfCallbacks/WcfService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>